@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #8758ff; */
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  /* color: #fff; */
  color: black;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.TodoWrapper {
  /* background: #1a1a40; */
  background: orange;
  margin-top: 5rem;
  padding: 5rem;
  border-radius: 5px;
  text-align: center;
}

.TodoForm {
  width: 100%;
  margin-bottom: 10px;
}

.todo-input {
  outline: none;
  background: none;
  /* border: 1px solid #8758ff; */
  border: 1px solid black;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  /* color: #fff; */
  color: black;
}

.todo-input::placeholder {
  /* color: #fff; */
  color: black;
}

.todo-btn {
  /* background: #8758ff; */
  background: black;
  color: #fff;
  padding: 0.55rem;
  border: none;
  cursor: pointer;
}
.todo-btn:hover {
  transform: scale(1.1);
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #8758ff; */
  background: black;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.Todo p {
  cursor: pointer;
}
.Todo p:hover {
  transform: scale(1.02);
}

.completed {
  /* color: #c5aeff; */
  color: orange;
  text-decoration: line-through;
}

.trash-icon {
  margin-left: 0.75rem;
}

.action-btn {
  /* background: #fff; */
  background: orange;
  /* color: #8758ff; */
  color: #fff;
  padding: 0.55rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.action-btn:hover {
  transform: scale(1.05);
}

.Counter {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  width: 200px;
  margin: 100px;
  border: 1px solid orange;
}
.Counter button {
  padding: 5px 10px;
  cursor: pointer;
}
